src/main/mule/global/fastgo-externalsystem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="fastgo-externalsystemFlow" doc:id="14b3bfce-2835-4f94-8773-eda862a98af5" >
		<http:listener doc:name="Listener" doc:id="753f1a37-28fc-44bd-8475-a13018f348ee" config-ref="HTTP_Listener_config" path="${http.listener.path}">
			<http:error-response statusCode="#[vars.statusCode as Number]" >
				<http:body ><![CDATA[#[vars.errorMsg default "Critical Error"]]]></http:body>
			</http:error-response>
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="d83cb013-facc-4cc9-a329-5a3e516df2cc" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.heeaders.transactionId]]></ee:set-variable>
				<ee:set-variable variableName="serviceType" ><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.serviceType]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9e9c3b75-fcab-4b2b-a208-c7be2830c66b" message="Request Recieved for FastGo External System for TransactionId #[vars.transactionId]"/>
		<choice doc:name="Choice" doc:id="48d76d27-772d-4432-a280-6c8f728830bf" >
			<when expression="#[vars.serviceType == 'routes']">
				<logger level="INFO" doc:name="Logger" doc:id="79a61e46-a8d7-43aa-8ee2-2abb3e8877a7" message="Route flow called for FastGo External System for TransactionId #[vars.transactionId]"/>
				<flow-ref doc:name="FastGo-GetRoutes-ImplementationSub_Flow" doc:id="9b5741da-6d38-499a-95b5-d41c8ce51856" name="FastGo-GetRoutes-ImplementationSub_Flow"/>
			</when>
			<when expression="vars.serviceType == 'schedules'">
				<logger level="INFO" doc:name="Logger" doc:id="954f7df3-967c-4768-b0b0-d8985537dbdc" message="schedule flow called for FastGo External System for TransactionId #[vars.transactionId]" />
				<flow-ref doc:name="FastGo-GetSchedules-ImplementationSub_Flow" doc:id="0ed33fd0-36ca-4102-b4a3-40fef8360db3" name="FastGo-GetSchedules-ImplementationSub_Flow"/>
			</when>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="2e87f9b4-5f80-4926-af2f-bb2f99f0bad9" message="Response Sent for FastGo External System for TransactionId #[vars.transactionId]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="25e55d17-6e00-441e-86c9-678bec2f1420" >
				<logger level="INFO" doc:name="Logger" doc:id="241f11d2-5268-4428-9990-989aed70fe95" message="Error Occured for FastGo External System for TransactionId #[vars.transactionId]"/>
				<ee:transform doc:name="Transform Message" doc:id="01e9af34-755c-4b01-a71c-900349ee50ec" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="errorMsg" ><![CDATA[%dw 2.0
output application/json
---
{
	"ErrorCode": "XE10123",
	"ErrorMessage": "Error in Fast go System"
}]]></ee:set-variable>
						<ee:set-variable variableName="statusCode" ><![CDATA[%dw 2.0
output application/java
---
500]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
